# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
venv/
.venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.DS_Store
.idea/
*.swp
*.swo
*~

# Optional: uncomment if you don't want to track large files
# *.h5
# *.keras
# cuad/data.zip
